<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>

<body>
    <img src={{url_for('static', filename=image )}} />
</body>
<script>
    function getCursorPosition(img, event) {
        const rect = img.getBoundingClientRect()
        const x = event.clientX - rect.left
        const y = event.clientY - rect.top
        return { x: x, y: y }
    }

    const img = document.querySelector('img')
    img.addEventListener('mousedown', function (e) {
        const pos = getCursorPosition(img, e);

        const xhr = new XMLHttpRequest();
        xhr.open("POST", 'http://127.0.0.1:5000/click', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            img: '{{image}}',
            x: pos.x,
            y: pos.y,
        }));

        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                const response = JSON.parse(xhr.responseText)
                console.log(response)
            }
        }
    })
</script>

</html>